<html>
<style>
body {
    background-color: linen;
}

h1 {
    color: maroon;
    margin-left: 40px;
}
li {
	font-family: monospace;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}
</style>
<body>
 dns requests [<%= count %>] items, displaying last entries:
 <ul>
   <% for( var i=0; i < dnses.length; i++) { %>
     <li><%= dnses[i].timestamp.replace(/T/, ' ').replace(/\..+/, '') %> <%= dnses[i].question.name %></li>
   <% } %>
</ul>
</body>
</html>
